<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Edit Employee</title>
  </head>
  <body>
      <div class="container">
          <div class="row">
            <div class="col-3">
              <div class="list-group mt-5">
                  <button type="button" onclick="location.href='{% url 'logout' %}'" class="list-group-item list-group-item-action text-center" aria-current="true">
                    Logout
                  </button>
              </div>
              <div class="list-group mt-5">
                  <button type="button" onclick="location.href='{% url 'project' %}'" class="list-group-item list-group-item-action">Manage Projects</button>
                  <button type="button" onclick="location.href='{% url 'employees' %}'" class="list-group-item list-group-item-action">Manage Employees</button>
              </div>
            </div>
            <div class="col">
              <div class="card mt-5">
                  <div class="card-header text-center">
                    Edit Employee
                  </div>
                  <div class="card-body text-center">
                      <div class="text-center">
                          {% for message in messages %}
                          <h5 class="text-danger">{{message}}</h5>
                          {% endfor %}
                      </div>
                      <br>
                      <form method="post">
                          {% csrf_token %}
                          <div class="row">
<!--                              column1-->
                              <div class="col">
                                  <div class="row">
                                      <div class="col">
                                          <label>First Name : *</label>
                                      </div>
                                      <div class="col">
                                          <input value="{{employee.first_name}}" maxlength="60" type="text" name="f_name" required>
                                      </div>
                                  </div>
                                  <br>
                                  <br>
                                  <div class="row">
                                      <div class="col">
                                          <label>Username : *</label>
                                      </div>
                                      <div class="col">
                                          <input value="{{employee.username}}" maxlength="45" type="text" name="username" required>
                                      </div>
                                  </div>
                                  <br>
                                  <br>
                                  <div class="row">
                                      <div class="col">
                                          <label>Gender : *</label>
                                      </div>
                                      <div class="col">
                                          <div class="row">
                                              <div class="col">
                                                  <div class="form-check">
                                                      {% if employee.gender == 0 %}
                                                      <input class="form-check-input abc" required checked onclick="RequireCb('abc')" type="radio" name="gender" value="0">
                                                      {% else %}
                                                      <input class="form-check-input abc" required onclick="RequireCb('abc')" type="radio" name="gender" value="0">
                                                      {% endif %}
                                                      <label class="form-check-label">
                                                        Male
                                                      </label>
                                                  </div>
                                              </div>
                                              <div class="col">
                                                  <div class="form-check">
                                                      {% if employee.gender == 1 %}
                                                      <input class="form-check-input abc" required checked onclick="RequireCb('abc')" type="radio" name="gender" value="1">
                                                      {% else %}
                                                      <input class="form-check-input abc" required onclick="RequireCb('abc')" type="radio" name="gender" value="1">
                                                      {% endif %}
                                                      <label class="form-check-label">
                                                        Female
                                                      </label>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <br>
                                  <br>
                                  <div class="row">
                                      <div class="col">
                                          <label>Role : *</label>
                                      </div>
                                      <div class="col">
                                          <select class="form-select form-select-sm" required name="role" aria-label=".form-select-sm example">
                                              <option value="">Select Role</option>
                                              {% for i in roles %}
                                              {% if i.id == employee.role.id %}
                                                    <option selected value="{{i.id}}">{{i.role_name}}</option>
                                                  {% else %}
                                                    <option value="{{i.id}}">{{i.role_name}}</option>
                                                  {% endif %}
                                              {% endfor %}
                                          </select>
                                      </div>
                                  </div>
                                  <br>
                                  <br>
                                  <div class="row">
                                      <div class="col">
                                          <label>Address 1 : *</label>
                                      </div>
                                      <div class="col">
                                          <textarea required name="address1" maxlength="100" rows="3" cols="24">{{employee.address_1}}</textarea>
                                      </div>
                                  </div>
                                  <br>
                                  <br>
                                  <div class="row">
                                      <div class="col">
                                          <label>Date of Birth : </label>
                                      </div>
                                      <div class="col">
                                          <input value="{{employee.date_of_birth|date:'Y-m-d'}}" type="date" name="dob">
                                      </div>
                                  </div>
                              </div>
<!--                              column2-->
                              <div class="col">
                                  <div class="row">
                                      <div class="col">
                                          <label>Last Name : *</label>
                                      </div>
                                      <div class="col">
                                          <input value="{{employee.last_name}}" maxlength="60" required type="text" name="l_name">
                                      </div>
                                  </div>
                                  <br>
                                  <br>
                                  <div class="row">
                                      <div class="col">
                                          <label>Password : *</label>
                                      </div>
                                      <div class="col">
                                          <input value="{{employee.password}}" maxlength="20" required type="password" name="pwd">
                                      </div>
                                  </div>
                                  <br>
                                  <br>
                                  <div class="row">
                                      <div class="col">
                                          <label>Mobile No : </label>
                                      </div>
                                      <div class="col">
                                          <input value="{{employee.mobile_number}}" maxlength="10" pattern="[789][0-9]{9}" type="text" name="mobile"
                                                 oninvalid="this.setCustomValidity('start number must be 7 or 8 or 9.\n length of number must be 10')"
                                                 oninput="this.setCustomValidity('')">
                                      </div>
                                  </div>
                                  <br>
                                  <br>
                                  <div class="row">
                                      <div class="col">
                                          <label>Project : </label>
                                      </div>
                                      <div class="col">
                                          <select class="form-select form-select-sm" name="project" aria-label=".form-select-sm example">
                                              <option selected value="">Select Project</option>
                                              {% for i in projects %}
                                                  {% if i.project_name == employee.project.project_name %}
                                                    <option selected value="{{i.id}}">{{i.project_name}}</option>
                                                  {% else %}
                                                    <option value="{{i.id}}">{{i.project_name}}</option>
                                                  {% endif %}
                                              {% endfor %}
                                          </select>
                                      </div>
                                  </div>
                                  <br>
                                  <br>
                                  <div class="row">
                                      <div class="col">
                                          <label>Address 2 : </label>
                                      </div>
                                      <div class="col">
                                          <textarea name="address2" maxlength="100" rows="3" cols="24">{{employee.address_2}}</textarea>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <br>
                          <br>
                          <button class="btn btn-dark" type="button" onclick="location.href='{% url 'employees' %}'">Cancel</button>
                          <button class="btn btn-warning" type="submit">Submit</button>
                      </form>
                  </div>
              </div>
            </div>
          </div>
        </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  <script>
      function RequireCb(elClass) {
            el=document.getElementsByClassName(elClass);

            var atLeastOneChecked=false;//at least one cb is checked
            for (i=0; i<el.length; i++) {
                if (el[i].checked === true) {
                    atLeastOneChecked=true;
                }
            }

            if (atLeastOneChecked === true) {
                for (i=0; i<el.length; i++) {
                    el[i].required = false;
                }
            } else {
                for (i=0; i<el.length; i++) {
                    el[i].required = true;
                }
            }
        }

<!--        var error = '{{error}}';-->
<!--        if(error=='username'){-->
<!--            $('input[name=username]').val('{{username}}');-->
<!--        }else if(error=='password'){-->
<!--            $('input[name=pwd]').val('{{password}}');-->
<!--        }-->
  </script>
  </body>
</html>